<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform stdoutLogEnabled="true" startupTimeLimit="20" processPath="C:\Users\Mantuk\AppData\Local\Programs\Python\Python38\python.exe" arguments="-m flask run --port %HTTP_PLATFORM_PORT%">
        </httpPlatform>
        <defaultDocument>
            <files>
                <add value="app.py" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>